h1 {
  font-size:36px;
  margin: 0px;
  padding: 5px;
}
h2 {
  font-size:24px;
  margin-top:10px;
  margin-bottom:10px;
}
#main {
  margin: 10px;
  padding: 5px;
}

ul {
  list-style-type:none;
  padding:0px;
  margin-left:10px;
}
li {
  margin-bottom: 5px;
}
li ul {
  list-style-type:square;
  margin-left:20px;
}

#header, header{
  background-color:#00c;
  padding: 5px;
  padding-left: 20px;
  margin: 0px;
}


img {
  margin:5px;
}

#container{
  margin: 10px 30px 10px 30px;
  height: 100%;
  background-color: #fff;
}

body{
  background-color: #ddd;
}

