---
layout: default
category: main
---

<p>
I am an EECS Ph.D. Student at UC Berkeley in the
<a href="https://aspire.eecs.berkeley.edu/">ASPIRE</a> Lab.
My research interests are in novel architectures for parallel computing
and tools for making parallel processors more easily programmable.
</p>

<p>
You can find some of my code on <a href="https://github.com/zhemao">Github</a>
and <a href="https://bitbucket.org/zhemao"/>Bitbucket</a>. I have some videos
of my hardware projects on <a href="http://www.youtube.com/zhemaoce">Youtube</a>.
</p>

<h2>Blog Pages</h2>

<ul class="front-page-list">
{% for post in site.categories.blog %}
<li><span class="blog-date">{{post.date | date_to_string }} </span>
    <a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>

<h2>Projects</h2>
<ul class="front-page-list">
{% for post in site.categories.project %}
<li><a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>
