
<!doctype html> 
<html> 
<head> 
<meta charset="utf-8"/> 
<title> {{page.title}} </title> 
 
<link rel="stylesheet" type="text/css" href="css/main.css"/> 
<link rel="stylesheet" type="text/css" href="css/hilite.css"/>

</head> 
<body> 
<div id="container"> 

<div id="header"> 
<h1>Howard Mao</h1> 
</div> <!--header-->
 
<div id="main"> 
  {{content}}
</div> <!--main-->

<footer id="footer">
<p><a href="/">Home</a></p>
</footer>

</div> <!--container-->
<script type="text/javascript">
    window._idl = {};
    _idl.variant = "modal";
    (function() {
        var idl = document.createElement('script');
        idl.type = 'text/javascript';
        idl.async = true;
        idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
        document.getElementsByTagName('body')[0].appendChild(idl);
    })();
</script>
</body> 
</html>
