<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>
{% if page.title %}
  {{page.title}}
{% else %}
  Howard Mao
{% endif %}
</title>

<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
<link href="/atom.xml" type="application/atom+xml" rel="alternate"/>

</head>
<body>
<div id="container">

<div id="header">
<a id="toplink" href="/"/>{{site.name}}</a>
</div> <!--header-->

<div id="main">
  {% if page.category != "main" %}
    <h1>{{page.title}}</h1>
  {% endif %}
  {{content}}
</div> <!--main-->

</div> <!--container-->
</body>
</html>
